header, hgroup, nav, footer, figure, figcaption, aside, section, article {
	display: block;
}
body {
	/*Applies a blue-to-black gradient over the background. Not particularly satisfied with these colors, might change them.*/
	/*background-image:linear-gradient(white, #00569F);*/
	background-image:linear-gradient(#0E0B16, #373737);
	/*background-image:linear-gradient(cyan, black);*/
	background-size:100%;

	/*Aligns all content (unless otherwise specified) to the center*/
/*	align-content:center;*/
	margin: auto;

	/*Set font to TNR*/
	font-family: "Times New Roman", Times, serif;
}

.clearfix{
	clear:both;
}

#page{
	width:1000px;
	margin:0 auto;
/*	text-align:center;*/
	position:relative;
}

#header{
	/*Center text in header*/
	text-align:center;
	/*Color the text seagreen*/
	color:#C0B283;
	font-family: "Times New Roman", Times, serif;
}

#contact{
	/*Center text in header*/
	text-align:center;
	/*Color the text seagreen*/
	color:#C0B283;
	font-family: "Times New Roman", Times, serif;
}
#contact a{
	color: #F4F4F4;
}

.personal_info{ /*Sets these attributes to ALL personal_info ID's, since they are all contained within this div id.*/
	color:#C0B283;
	font-family: "Times New Roman", Times, serif;
	font-size:120%;
	text-align:center; /*Justifies text, to make the blocks look a bit more defined and clear.*/
}

#personal_info_1{
	padding:5px;
/*	height:50%;*/
}

#personal_info_2{
	padding:5px;
/*	height:50%;*/
}

#personal_info_image{ /*Sets the image to be in the center*/
	/*position:absolute;
	top:145px;
	right:10px;*/
/*	float:right;
	margin:10px;*/
	width: 360px;
    height: 300px;
    background-image: url("../images/vermont.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
	/*padding:10px;
	width:410px;
	height:300px;
	align-content:left;*/
}

#shirt_and_tie_image{
	width: 300px;
    height: 300px;
    background-image: url("../images/me.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
	/*position:absolute;
	right:10px;
	top:450px;*/
}
#left_image{
	float:right;
	margin:20px;
	width: 200px;
    height: 200px;
    background-image: url("../images/rightPicture.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
	/*
	position:absolute;
	right:220px;
	top:450px;*/
}
#right_image{
	float:right;
	margin:20px;
	margin-right:90px;
	width: 200px;
    height: 200px;
    background-image: url("../images/rightPicture.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
	/*
	position:absolute;
	right:220px;
	top:450px;*/
}

#assignment_title{ /*clear:both undoes the 'float' from before, starting the content in assignment-title from the left.*/
	clear:both;
	color:#F4F4F4;
	padding:12px;
}

#assignments{ /*Makes the font size of ALL text within 'assignments' 150%*/
	font-size:150%;
}
/*Some basic work to make the links look nice*/
.link:link{
	color:#6495ED; /*Make the link a cornflower blue*/
	text-decoration: none;
}
.link:hover{
	color:purple; /*When hovering the mouse over the link, make it light blue and add an underline.*/
	text-decoration: underline;
}
.link:visited{	/*If the link has been visited, color it indigo. Not 100% on this color, might change it later.*/
	color:#C4C4D8;
	text-decoration: none;
}
.link:active{
	color:red;
	text-decoration: underline;
}
#assignments ul{	/*Applies 'marker.png' (a knight's helmet) to be the image used as bullet points for the list*/
	list-style-image:url("../images/marker.png");
	color:#F4F4F4;
}

tr{ /*Causes the text within the table to be gold. Because gold-on-black is a nice color.*/
	color:#C0B283;
}
th{
	color:#DCD0C0;
}